{{> @header}}

<div class="space-bottom--l">
    {{> @hero}}
</div>

<div class="l-container  l-container--flex padding-bottom--xl">
    <main class="l-container__main">
        {{> @news}}
    </main>
    <div class="l-container__sidebar">
        {{> @subnav--block}}
    </div>
</div>
{{> @footer}}