.c-subnav,
.widget {
    border-left: 4px solid color(neutral--lightest);
    padding-left: 1em;
}

.widget h2 {
    @extend %h4;
}
.c-subnav__header,
.widget h2 {
    margin-bottom: space(m);
}
.c-subnav__list,
.kbe_widget_article ul {
    @extend %list--unstyled;
}
.c-subnav__list li,
.kbe_widget_article li {
    margin-bottom: space(m);
    a {
        position: relative;
        text-decoration: none;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -1.25em;
            width: 4px;
            bottom: 0;
            background-color: transparent;
            transition: background-color 0.3s;
        }
    }
    a:hover::after {
        background-color: color(secondary);
    }
    &.current_page_item a::after {
        background-color: color(primary);
    }
}

.c-subnav--block {
    border-left: 4px solid color(neutral--lighter);
    background-color: color(neutral--lightest);
    padding-top: space(s);
    padding-bottom: 1px;
}
