<aside class="c-subnav">
    <header class="c-subnav__header">
        <h4>
            {{ subNav-title}}
        </h4>
    </header>
    <div class="c-subnav__body">
        <ul class="c-subnav__list">
            <li class="c-subnav__list-item">
                <a href="#">One</a>
            </li>
            <li class="c-subnav__list-item">
                <a href="#">Two</a>
            </li>
            <li class="c-subnav__list-item">
                <a href="#">Three</a>
            </li>
            <li class="c-subnav__list-item">
                <a href="#">Four</a>
            </li>
        </ul>
    </div>
</aside>